*.o
*.a
*.lo
*.in
*~
*.sdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir

.DS_Store
.deps
.dirstamp

/Windows/GL4Dummies.depend
/Windows/*.depend
/Windows/*.opensdf
/Windows/*.sdf
/Windows/*.user
build/*

x64
CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
bin/
m4/
